* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container1,
.container2,
.container3 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex__mid {
    align-items: center;
    display: flex;
    justify-content: center;
}

.layout {
    margin: 0.3rem;
}